/* tailwindcss基础配置 */
@tailwind base;
/* tailwindcss组件配置 */
@tailwind components;
/* tailwindcss工具配置 */
@tailwind utilities;


/* 封装tailwindcss类名 */
@layer components {
   /* 用户信息页头像样式 */
   .my-user-avatar {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  rounded-full ring-offset-base-100 ring-offset-2;
   }
   /* 中控台按钮文本样式 */
   .my-center-console-btn {
      @apply absolute -bottom-2 left-1/2 -translate-x-1/2 translate-y-full w-full text-center font-semibold;
   }
   /* 中控台按钮图标样式 */
   .my-center-console-icon {
      @apply text-[2.5rem] size-full flex items-center justify-center;
   }
   /* 自定义版心 */
   .my-type-center {
      @apply m-auto lg:w-[80%] md:w-[85%];
   }
   /* 班级信息页 词集的响应式布局样式 */
   .my-class-info-word {
      @apply w-full mb-[10px] overflow-hidden transition-all duration-300 rounded-xl border border-base-300
      xl:w-[calc((100%-20px)/3)] h-[180px] md:h-[230px] lg:h-[280px] md:flex-wrap md:w-[calc((100%-10px)/2)];
   }
   /* 表单输入框 小 */
   .my-form-input-sm {
      @apply input text-base-content input-sm input-bordered w-full;
   }
   /* 词语列表项 编辑时的样式 */
   .my-word-item-edit {
      @apply flex-1 relative border-b-2 border-gray-500 mb-2
      before:absolute before:-bottom-5 before:font-bold before:text-[10px];
   }

   /* 翻转卡片 边框阴影 */
   .my-flip-card {
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
   }
   /* 翻转卡片 子元素 词语和定义 */
   .my-card-child {
      @apply h-[300px] xl:h-full bg-base-100 rounded-xl p-2 my-flip-card flex justify-center items-center text-xl;
   }
   /* 词集详情 模式选择 item box */
   .my-voc-mode-box {
      @apply h-[80px] md:h-[calc(100%/4)] w-[calc((100%)/2)] p-1 cursor-pointer md:w-[calc((100%)/1)];
   }
   /* 词集详情 模式选择 item */
   .my-voc-mode-item {
      @apply size-full rounded-lg text-white relative overflow-hidden transition-all duration-200 border-2 border-base-100 hover:border-2 hover:border-primary;
   }
   /* 词集详情 模式选择 item icon */
   .my-voc-mode-icon {
      @apply absolute right-5 -bottom-5 rotate-[70deg] scale-[2] transition-all duration-700 text-[50px] blur-[1px] text-white/50;
   }

}

@layer base {
   /* 重置默认样式 */
   html, body, #app {
      height: 100%;
   }
   /* 解决Ant Design Icon图标垂直居中问题 */
   svg {
      vertical-align: initial !important;
   }

   /* 让所有后代元素拥有过渡效果 */
   .my-transition-all * {
      transition:  width 0.3s, height 0.3s, margin 0.3s, padding 0.3s, background-color 0.3s;
   }
}